<!DOCTYPE html>
<html class="no-js chrome no-touch" l lang="ko" xmlns:th="http://www.thymeleaf.org">
<aside id="leftsidebar" class="sidebar" th:fragment="aside-left">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
        <a href="index"><img src="/images/title_icon.svg" width="25" alt="Aero"><span class="m-l-10">EGLine</span></a>
    </div>
    <div class="menu">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: calc(100vh - 65px);">
            <ul class="list" style="overflow: hidden; width: auto; height: calc(100vh - 65px);">
                <li>
                    <!-- 유저 정보-->
<!--                    <div class="user-info">-->
<!--                        <a class="image waves-effect waves-block" href="profile.html"><img src="assets/images/profile_av.jpg" alt="User"></a>-->
<!--                        <div class="detail">-->
<!--                            <h4>Michael</h4>-->
<!--                            <small>Super Admin</small>-->
<!--                        </div>-->
<!--                    </div>-->
                    <!-- 유저 정보-->
                </li>
<!--                <li><a href="my-profile.html" class=" waves-effect waves-block"><i class="zmdi zmdi-account"></i><span>프로필</span></a></li>-->
                <li class="active open"><a href="index" class="toggled waves-effect waves-block"><i class="zmdi zmdi-home"></i><span>대시보드</span></a></li>

                <th:block th:each="main, i : ${session.mainList}">
                    <th:block th:utext="'&lt;li&gt;'"></th:block>
                        <th:block th:each="menu, j : ${session.menuList}">
                            <th:block th:if="${main.MAIN_ID.toString().equals( menu.MAIN_ID.toString() )}">
                                <th:block th:if="${!main.ENABLED.toString().equals('NULL') and !main.ENABLED.toString().equals('0')}">
                                        <a th:href="'/' + ${menu.MAIN_ID} + '/' + ${menu.MAIN_ID} + '.do'" class=" waves-effect waves-block">
                                            <i th:classappend="${menu.ICON}" class="zmdi"></i>
                                            <span th:text="${menu.MAIN_NM}"></span>
                                        </a>
                                        <th:block th:utext="'&lt;/li&gt;'"></th:block>
                                </th:block>


                                <th:block th:unless="${!main.ENABLED.toString().equals('NULL')}">
                                    <th:block th:unless="${menu.ENABLED.toString().equals('1')}">
                                        <th:block th:if="${menu.SUB_SEQ.toString().equals('1')}">
                                            <a class="menu-toggle waves-effect waves-block">
                                                <i th:classappend="${menu.ICON}" class="zmdi"></i>
                                                <span th:text="${menu.MAIN_NM}"></span>
                                            </a>
                                            <th:block th:utext="'&lt;ul class=&quot;ml-menu&quot;&gt;'"></th:block>
                                        </th:block>

                                            <th:block th:utext="'&lt;li&gt;'"></th:block>
                                                <a th:href="'/' + ${menu.MAIN_ID} + '/' + ${menu.SUB_ID} + '.do'" class="waves-effect waves-block">[[${menu.SUB_NM}]]</a>
                                            <th:block th:utext="'&lt;/li&gt;'"></th:block>

                                        <th:block th:if="${menu.SUB_SEQ.toString().equals(menu.CNT.toString())}">
                                            <th:block th:utext="'&lt;/ul&gt;'"></th:block>
                                            <th:block th:utext="'&lt;/li&gt;'"></th:block>
                                        </th:block>
                                    </th:block>
                                </th:block>
                            </th:block>
                        </th:block>
                </th:block>


            </ul>
            <div class="slimScrollBar" style="background: rgb(238, 238, 238); width: 1px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 3px; z-index: 99; right: 1px; height: 624.971px;"></div>
            <div class="slimScrollRail" style="width: 1px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
    </div>
</aside>
</html>
