<!DOCTYPE html>
<html  lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="commonImport">
  <!-- Jquery Core Js -->
  <script src="/assets/js/jquery-3.3.1.min.js"></script>
  <script src="/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
  <script src="/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
  <script src="/assets/bundles/mainscripts.bundle.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>


  <!-- plugin JS -->
  <script src="/assets/plugins/sweetalert/sweetalert.min.js"></script>

  <!-- plugin CSS -->
  <link rel="stylesheet" href="/assets/plugins/sweetalert/sweetalert.css"></script>


  <!-- Core Css -->
  <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.min.css">

  <!-- Common Js -->
  <script src="/js/common/util/_util.js"></script>
  <script src="/js/common/commonMenu.js"></script>
  <script src="/js/common/commonAJAX.js"></script>
  <script src="/js/common/commonAlert.js"></script>

</head>
<body>

</body>
</html>