<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- Favicon-->
    <th:block th:fragment="meta-data">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>이그라인 - EGLine</title>
    <meta name="twitter:description" content="체계적인 업무와 소통을 지원하며 사용자편의성 중심인 그룹웨어 솔루션. 어디서도 볼 수 없었던 새로운 그룹웨어를 만끽하세요!">
    <meta property="og:title" content="이그라인 - EGLine">
    <meta property="og:image" content="/images/search_image.svg">
    <meta name="description" content="체계적인 업무와 소통을 지원하며 사용자편의성 중심인 그룹웨어 솔루션. 어디서도 볼 수 없었던 새로운 그룹웨어를 만끽하세요!">
    <meta property="og:type" content="">
    <meta name="twitter:image" content="/assets/images/search_image.svg">
    <meta property="og:description" content="체계적인 업무와 소통을 지원하며 사용자편의성 중심인 그룹웨어 솔루션. 어디서도 볼 수 없었던 새로운 그룹웨어를 만끽하세요!">
    <meta name="twitter:title" content="이그라인 - EGLine">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/popImage/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/popImage/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/popImage/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/popImage/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/popImage/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/popImage/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/popImage/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/popImage/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/popImage/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/popImage/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/popImage/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/popImage/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/popImage/favicon-16x16.png">
    <link rel="manifest" href="/images/popImage/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/popImage/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    </th:block>
    <!-- Favicon-->
</html>