<!DOCTYPE html>
<html class="no-js chrome no-touch" lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 변수지정 -->
<th:block th:with="userNm='홍길동'">

<head>

    <!--메타데이터-->
    <th:block th:replace="layout/meta-data :: meta-data"></th:block>
    <!--메타데이터-->

    <!--공통import-->
    <th:block th:replace="layout/common-import :: commonImport"></th:block>
    <!--공통import-->

    <!--템플릿별 헤드라인-->
    <th:block th:if="${headerYn == 'Y'}">
        <th:block th:replace="'ui/' + ${headerPath} :: ${headerId}"></th:block>
    </th:block>
    <!--템플릿별 헤드라인-->


    <!--공통 폰트 적용-->
    <link rel="stylesheet" href="/assets/css/CommonFont.css">
    <!--공통 폰트 적용-->
</head>
<body  class="theme-blush"> <!-- theme-blush 세션값으로 사용자정보에 맞춰 불러와야함 -->

<script th:inline="javascript">


</script>

<!--<span th:text="${session.menuList}"></span>-->
    <!-- 페이지 로딩CSS -->
    <div class="page-loader-wrapper" style="">
        <div class="loader">
            <div class="m-t-30 "><img class="zmdi-hc-spin" src="/assets/images/loader.svg" width="48" height="48" alt="Aero"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- 페이지 로딩CSS -->

    <!-- 오버레이 -->
    <div class="overlay"></div>
    <!-- 오버레이 -->

    <!-- 검색 -->
    <div id="search">
        <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
        <form>
            <input type="search" value="" placeholder="Search...">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <!-- 검색 -->

    <!-- 오른쪽 아이콘 바 -->
    <div class="navbar-right" th:replace="layout/navbar-right :: navbar-right"></div>
    <!-- 오른쪽 아이콘 바 -->

    <!-- 왼쪽 메뉴 바 -->
    <aside id="leftsidebar" class="sidebar" th:replace="layout/aside-left :: aside-left"></aside>
    <!-- 왼쪽 메뉴 바 -->

    <!-- 오른쪽 설정 바 -->
    <aside id="rightsidebar" class="right-sidebar" th:replace="layout/aside-right :: aside-right"></aside>
    <!-- 오른쪽 설정 바 -->

    <!-- 템플릿별 메뉴라인 -->
    <th:block th:if="${mainYn == 'Y'}">
        <th:block th:replace="'ui/' + ${mainPath} :: ${mainId}"></th:block>
    </th:block>
    <!-- 템플릿별 메뉴라인 -->


    <div class="jvectormap-tip"></div>
</body>
</th:block>
</html>