<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>이그라인 - EGLine</title>
    <meta name="twitter:description" content="체계적인 업무와 소통을 지원하며 사용자편의성 중심인 그룹웨어 솔루션. 어디서도 볼 수 없었던 새로운 그룹웨어를 만끽하세요!">
    <meta property="og:title" content="이그라인 - EGLine">
    <meta property="og:image" content="/../images/search_image.svg">
    <meta name="description" content="체계적인 업무와 소통을 지원하며 사용자편의성 중심인 그룹웨어 솔루션. 어디서도 볼 수 없었던 새로운 그룹웨어를 만끽하세요!">
    <meta property="og:type" content="">
    <meta name="twitter:image" content="/../images/images/search_image.svg">
    <meta property="og:description" content="체계적인 업무와 소통을 지원하며 사용자편의성 중심인 그룹웨어 솔루션. 어디서도 볼 수 없었던 새로운 그룹웨어를 만끽하세요!">
    <meta name="twitter:title" content="이그라인 - EGLine">

    <link rel="apple-touch-icon" sizes="57x57" href="/../images/popImage/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/../images/popImage/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/../images/popImage/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/../images/popImage/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/../images/popImage/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/../images/popImage/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/../images/popImage/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/../images/popImage/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/../images/popImage/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/../images/popImage/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/../images/popImage/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/../images/popImage/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/../images/popImage/favicon-16x16.png">
    <link rel="manifest" href="/../images/popImage/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/../images/popImage/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../../../../assets/css/styles.css">
</head>

<body>
    <section class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post" onsubmit="return checkAll()">
                <h2 class="text-center"><strong>회원가입</strong></h2>
                <div class="mb-3"><input id="registerid" class="form-control" type="text" name="id" placeholder="아이디" maxlength="12"></div>
                <div class="mb-3" ><label id="idlabel" style="font-size: 11px;"></label></div>
                <div class="mb-3"><input id="registerpw" class="form-control" type="password" name="password" placeholder="패스워드" maxlength="12"></div>
                <div class="mb-3"><label id="pwlabel"></label></div>
                <div class="mb-3"><input id="registerpw2" class="form-control" type="password" name="password" placeholder="패스워드 확인" maxlength="12"></div>
                <div class="mb-3"><label id="pwlabel2"></label></div>
                <div class="mb-3">
                </div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">회원가입</button></div>
            </form>
        </div>
    </section>
    <script src="../../../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script>
        var registerId = document.getElementById('registerid');
        var registerPw = document.getElementById('registerpw');
        var registerPw2 = document.getElementById('registerpw2');
        var idLabel = document.getElementById('idlabel');
        var pwLabel = document.getElementById('pwlabel');
        var pwLabel2 = document.getElementById('pwlabel2');
        registerId.focus();


        const checkAll = () => {
            if (!checkUserId(registerId.value)) {
                return false;
            } else if (!checkPassword(registerId.value, registerPw.value,registerPw2.value)) {
                return false;
            }
            return false;
        }

        // 공백확인 함수
        const checkExistData = (value, dataName) => {
            if (value == "") {
                alert(dataName + " 입력해주세요!");
                return false;
            }
            return true;
        }


        const checkUserId = (id) => {
            //Id가 입력되었는지 확인하기
          if (!checkExistData(id, "아이디를")) {
              return false;
          }
            let idRegExp = /^[a-zA-z0-9]{4,12}$/; //아이디 유효성 검사
            if (!idRegExp.test(id)) {
                idLabel.innerText="아이디는 영문 대소문자와 숫자 4~12자리로 입력해야합니다!";
                idLabel.style.color="red";
                registerId.focus();
                return false;
            }
            return true; //확인이 완료되었을 때
        }

        const checkPassword = (id, password1, password2) => {
            //비밀번호가 입력되었는지 확인하기
            if (!checkExistData(password1, "비밀번호를"))
                return false;
            //비밀번호 확인이 입력되었는지 확인하기
            if (!checkExistData(password2, "비밀번호 확인을"))
                return false;

            var password1RegExp = /^[a-zA-z0-9]{4,12}$/; //비밀번호 유효성 검사
            if (!password1RegExp.test(password1)) {
                alert("비밀번호는 영문 대소문자와 숫자 4~12자리로 입력해야합니다!");
                registerPw.focus();
                return false;
            }
            //비밀번호와 비밀번호 확인이 맞지 않다면..
            if (password1 != password2) {
                alert("두 비밀번호가 맞지 않습니다.");
                registerPw2.focus();
                return false;
            }

            //아이디와 비밀번호가 같을 때..
            if (id == password1) {
                alert("아이디와 비밀번호는 같을 수 없습니다!");
                registerPw.value = "";
                registerPw2.value = "";
                registerPw2.focus();
                return false;
            }
            return true; //확인이 완료되었을 때
        }

        registerId.addEventListener("change",()=>{
            checkUserId(registerId.value);
        })



    </script>
</body>

</html>