<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>이그라인 - EGLine</title>
    <meta name="twitter:description" content="체계적인 업무와 소통을 지원하며 사용자편의성 중심인 그룹웨어 솔루션. 어디서도 볼 수 없었던 새로운 그룹웨어를 만끽하세요!">
    <meta property="og:title" content="이그라인 - EGLine">
    <meta property="og:image" content="/../images/search_image.svg">
    <meta name="description" content="체계적인 업무와 소통을 지원하며 사용자편의성 중심인 그룹웨어 솔루션. 어디서도 볼 수 없었던 새로운 그룹웨어를 만끽하세요!">
    <meta property="og:type" content="">
    <meta name="twitter:image" content="/../images/images/search_image.svg">
    <meta property="og:description" content="체계적인 업무와 소통을 지원하며 사용자편의성 중심인 그룹웨어 솔루션. 어디서도 볼 수 없었던 새로운 그룹웨어를 만끽하세요!">
    <meta name="twitter:title" content="이그라인 - EGLine">
    <link rel="shortcut icon" type="image/x-icon" href="/../images/title_icon.svg">
    <link rel="stylesheet" href="../../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../../../../assets/css/styles.css">
</head>

<body>
    <section class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
                <h2 class="text-center"><strong>회원가입</strong></h2>
                <div class="mb-3"><input class="form-control" type="text" name="id" placeholder="아이디"></div>
                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="패스워드"></div>
                <div class="mb-3"><input class="form-control" type="password" name="password-repeat" placeholder="패스워드 확인"></div>
                <div class="mb-3">
                </div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">회원가입</button></div>
            </form>
        </div>
    </section>
    <script src="../../../../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>