<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="createMenu-header">
    <script src="/assets/plugins/nestable/jquery.nestable.js"></script> <!-- Jquery Nestable -->
    <script src="/js/manager/createMenu.js"></script>
</head>
<body>

<section class="content" th:fragment="createMenu-body">
        <div class="body_scroll">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12" id="content-header">
                        <h2>Sortable & Nestable</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Aero</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Components</a></li>
                            <li class="breadcrumb-item active">Sortable & Nestable</li>
                        </ul>
                        <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row clearfix">
                    <!-- Default Example -->
                    <div class="col-lg-3 col-md-3">
                        <div class="card">
                            <div class="header">
                                <h2><strong>미사용</strong> 메뉴</h2>
                                <ul class="header-dropdown">
                                    <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="javascript:void(0);">추가</a></li>
                                            <li><a href="javascript:void(0);">삭제</a></li>
                                            <li><a href="javascript:void(0);">저장</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <p>메뉴리스트에는 등록이 되었지만 사용하지 않는 메뉴입니다.</p>
                                <div class="dd nestable-blue-theme">
                                    <ol class='dd-list dd3-list'>
                                        <li class="dd-item" data-id="sample">
                                            <div class="dd-handle">sample</div>
                                        </li>
                                    </ol>
                                </div>
                                <div class="mt-4">
                                    <b>Output JSON</b>
                                    <textarea cols="30" rows="3" class="form-control no-resize" readonly>[{"id":13},{"id":14},{"id":15,"children":[{"id":17},{"id":16},{"id":18}]}]</textarea>
                                </div>
                            </div>
                        </div>


                        <div class="card">
                            <div class="header">
                                <h2><strong>삭제할</strong> 메뉴</h2>
                                <ul class="header-dropdown">
                                    <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="javascript:void(0);">삭제</a></li>
                                            <li><a href="javascript:void(0);">저장</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <p>삭제할 메뉴를 여기에 옮기고 삭제버튼을 클릭해야 적용됩니다.</p>
                                <div class="dd nestable-red-theme">
                                    <ol class='dd-list dd3-list'>
                                    </ol>
                                </div>
                                <div class="mt-4">
                                    <b>Output JSON</b>
                                    <textarea cols="30" rows="3" class="form-control no-resize" readonly>[{"id":1},{"id":2,"children":[{"id":3},{"id":4},{"id":5,"children":[{"id":6},{"id":7},{"id":8}]},{"id":9},{"id":10}]},{"id":11},{"id":12}]</textarea>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="card">
                            <div class="header">
                                <h2><strong>사용될 메뉴</strong> 리스트</h2>
                                <ul class="header-dropdown">
                                    <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="javascript:void(0);">추가</a></li>
                                            <li><a href="javascript:void(0);">삭제</a></li>
                                            <li><a href="javascript:void(0);">저장</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="body">
                                <p>사용자에게 표시할 메뉴를 옮기고 저장버튼을 눌러야 적용됩니다.</p>
                                <div class="dd" id="reflectMenu">
                                    <ol class="dd-list">
                                        <li class="dd-item" data-id="sample">
                                            <div class="dd-handle">sample</div>
                                        </li>
                                    </ol>
                                </div>
                                <div class="mt-4">
                                    <b>Output JSON</b>
                                    <textarea cols="30" rows="3" class="form-control no-resize" id="reflectTextarea" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Draggable Handles -->
                <div class="row clearfix">
                    <div class="col-lg-2 col-md-2 col-sm-2">

                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>