<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="sample-header">


</head>
<body>

<section class="content" th:fragment="sample-body">
    <div class="body_scroll">
        <!-- head -->
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>샘플 페이지</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> 메인페이지 </a></li>
                        <li class="breadcrumb-item active">대분류</li>
                        <li class="breadcrumb-item active">중분류</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <!-- head -->

        <!-- main -->
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>샘플</strong> 페이지</h2>
                        </div>
                        <div class="body">
                            <h5>EGLine 이란?</h5>
                            <p>라인이라는 국어학적 뜻을 보면 점들을 이은 선이라는 뜻입니다. 그 점에는 '위치' 즉 '어디서'라는 요소가 반드시 필요합니다. 기업에서 가장 중요하게 여기는 것을 목표라고합니다. 그 목표를 위해 한 라인에 선 사람들. 저희 EGLine 에서는 그 목표를 쉽게 이뤄드리기위해 어디서도 볼 수 없었던 쉬운 그룹웨어를 만들었습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main -->

    </div>
</section>
</body>
</html>