<!DOCTYPE html>
<html class="no-js no-touch" lang="en">
<head>
   <!--메타데이터-->
   <th:block th:replace="layout/meta-data :: meta-data"></th:block>
   <!--메타데이터-->

   <!--공통import-->
   <script src="assets/js/jquery-3.3.1.min.js"></script>
   <script src="assets/bootstrap/js/bootstrap.min.js"></script>

   <!-- Custom Css -->
   <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="assets/css/style.min.css">
   <!--공통import-->
   <style>
      #guidelabel {
         font-size: 11px;
      }
   </style>
</head>
   <body class="theme-blush" _c_t_common="1">
      <div class="authentication">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-sm-12">
                  <form class="card auth_form">
                     <div class="header">
                        <img class="logo" src="images/title_icon.svg" alt="">
                        <h5>로그인</h5>
                     </div>
                     <div class="body">
                        <div class="input-group mb-3">
                           <input type="text" class="form-control" placeholder="아이디">
                           <div class="input-group-append">
                              <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
                           </div>
                        </div>
                        <div class="input-group mb-3">
                           <input type="password" class="form-control" placeholder="패스워드">
                           <div class="input-group-append">
                              <span class="input-group-text"><i id="pw-icon" class="zmdi zmdi-lock"></i></span>
                           </div>
                        </div>
                        <label id="guidelabel"></label>
                        <div class="checkbox">
                           <input id="remember_me" type="checkbox">
                           <label for="remember_me">아이디 저장</label>
                        </div>
                        <a href="index.html" class="btn btn-primary btn-block waves-effect waves-light">로그인</a>
                        <div class="signin_with mt-3">
                           <div class="signin_with mt-3">
                              <a class="link" href="/recoveryid">아이디를 잊어버리셨나요?</a>
                           </div>
                           <div class="signin_with mt-3">
                              <a class="link" href="/recoverypw">비밀번호를 잊어버리셨나요?</a>
                           </div>
                           <div class="signin_with mt-3">
                              <a class="link" href="/register">아직 가입을 안하셨나요?</a>
                           </div>
                        </div>
                     </div>
                  </form>
                  <div class="copyright text-center">
                     ©
                     <script>document.write(new Date().getFullYear())</script>
                     <span>Designed by <a href="http://www.exciform.com/" target="_blank">Egline</a></span>
                  </div>
               </div>
               <div class="col-lg-8 col-sm-12">
                  <div class="card">
                     <img src="assets/images/signin.svg" alt="Sign In">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Jquery Core Js -->
      <script src="assets/bundles/libscripts.bundle.js"></script>
      <script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
      
   </body>
</html>