<!doctype html>
<html class="no-js " lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--메타데이터-->
    <th:block th:replace="layout/meta-data :: meta-data"></th:block>
    <!--메타데이터-->

    <!--공통import-->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom Css -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <!--공통import-->
    <style>
        #idlabel {
            font-size: 11px;
        }
        #pwlabel {
            font-size: 10.7px;
        }
        #pwlabel2 {
            font-size: 11px;
        }
        #emaillabel {
            font-size: 11px;
        }
    </style>
</head>

<body class="theme-blush"  >
<div class="authentication">    
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <form class="card auth_form" method="post" onsubmit="return checkAll();">
                    <div class="header">
                        <img class="logo" src="images/title_icon.svg" alt="">
                        <h5>회원가입</h5>
                        <span>이그라인에 오신걸 환영합니다!</span>
                    </div>
                    <div class="body">
                        <div class="input-group mb-3">
                            <input id="registerid" name="id" type="text" class="form-control" placeholder="아이디" maxlength="12">
                            <div class="input-group-append">
                                <span class="input-group-text"><i id="id-icon" class="zmdi zmdi-account-circle"></i></span>
                            </div>
                        </div>
                        <label id="idlabel"></label>
                        <div class="input-group mb-3">
                            <input id="registerpw" name="password" type="password" class="form-control" placeholder="패스워드" maxlength="12">
                            <div class="input-group-append">                                
                                <span class="input-group-text"><i id="pw-icon" class="zmdi zmdi-lock"></i></span>
                            </div>
                        </div>
                        <label id="pwlabel"></label>
                        <div class="input-group mb-3">
                            <input id="registerpw2" type="password" class="form-control" placeholder="패스워드 확인" maxlength="12">
                            <div class="input-group-append">
                                <span class="input-group-text"><i id="pw2-icon" class="zmdi zmdi-lock"></i></span>
                            </div>
                        </div>
                        <label id="pwlabel2"></label>
                        <div class="input-group mb-3">
                            <input id="registeremail" name="email" type="email" class="form-control" placeholder="이메일">
                            <div class="input-group-append">
                                <span class="input-group-text"><i id="email-icon" class="zmdi zmdi-check"></i></span>
                            </div>
                        </div>
                        <label id="emaillabel"></label>
                        <input type="submit" class="btn btn-primary btn-block waves-effect waves-light" value="가입하기">
                        <div class="signin_with mt-3">
                            <a class="link" href="/">이미 가입하셨나요?</a>
                        </div>
                    </div>
                </form>
                <div class="copyright text-center">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>,
                    <span>Designed by <a href="http://www.exciform.com/" target="_blank">Egline</a></span>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                    <img src="assets/images/signup.svg" alt="Sign Up" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jquery Core Js -->
<script src="assets/bundles/libscripts.bundle.js"></script>
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script>
    // input
    var registerId = document.getElementById('registerid');
    var registerPw = document.getElementById('registerpw');
    var registerPw2 = document.getElementById('registerpw2');
    var registerEmail = document.getElementById('registeremail');

    // 라벨
    var idLabel = document.getElementById('idlabel');
    var pwLabel = document.getElementById('pwlabel');
    var pwLabel2 = document.getElementById('pwlabel2');
    var emailLabel = document.getElementById('emaillabel');

    // 아이콘
    var idIcon = document.getElementById('id-icon');
    var pwIcon = document.getElementById('pw-icon');
    var pwIcon2 = document.getElementById('pw2-icon');
    var emailIcon = document.getElementById('email-icon');




    const checkAll = () => {
        if (!checkExistData(registerId.value ,"아이디를")) {
            return false;
        } else if (!checkExistData(registerPw.value,"패스워드를")) {
            return false;
        } else if (!checkExistData(registerPw2.value,"패스워드 확인을")) {
            return false;
        } else if (!checkExistData(registerEmail.value,"이메일을")) {
            return false;
        } else if (!checkUserId(registerId.value)) {
            return false;
        } else if (!checkPassword(registerId.value,registerPw.value,registerPw2.value)) {
            return false;
        } else if (!checkEmail(registerEmail.value)) {
            return false;
        }
        alert('회원가입이 완료 되었습니다.');
        return true;
    };

    // 공백확인 함수
    const checkExistData = (value, dataName) => {
        if (value == "") {
            alert(dataName + " 입력해주세요!");
            return false;
        }
        return true;
    };
    const checkEmail = (email) => {
        let emailRegExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;
        if (!emailRegExp.test(email)) {
            emailLabel.innerText = "올바른 이메일 형식이 아닙니다!";
            emailLabel.style.color = "red";
            emailIcon.style.color = "red";
            registerEmail.focus();
            return false;
        }
        else {
            const obj = {"email": registerEmail.value}
            //AJAX 객체 선언
            let xhr = new XMLHttpRequest();
            //서버와 통신준비
            xhr.open('POST','emailcheck',false);
            xhr.setRequestHeader('content-type', 'application/json');
            //파라미터로 받은 obj JSON으로 가공후 서버에 보냄
            xhr.send(JSON.stringify(obj));

            if (xhr.readyState === XMLHttpRequest.DONE) {
                let res = JSON.parse(xhr.response);
                if(res.CNT > 0) {
                    emailLabel.innerText="중복된 이메일 입니다.";
                    emailLabel.style.color="red";
                    emailIcon.style.color="red";
                    registerEmail.focus();
                    return false;
                }
                else {
                    emailLabel.innerText="사용 가능한 이메일 입니다.";
                    emailLabel.style.color="green";
                    emailIcon.style.color="green";
                    return true;
                }
            }
        }
    };

    const checkUserId = (id) => {
        let idRegExp = /^[a-zA-z0-9]{4,12}$/; //아이디 유효성 검사
        if (!idRegExp.test(id)) {
            idLabel.innerText="아이디는 영문 대소문자와 숫자 4~12자리로 입력해야합니다!";
            idLabel.style.color="red";
            idIcon.style.color="red";
            registerId.focus();
            return false;
        }
        else {
            const obj = {"id": registerId.value}
            //AJAX 객체 선언
            let xhr = new XMLHttpRequest();
            //서버와 통신준비
            xhr.open('POST', 'idcheck', false);
            xhr.setRequestHeader('content-type', 'application/json');
            //파라미터로 받은 obj JSON으로 가공후 서버에 보냄
            xhr.send(JSON.stringify(obj));

            if (xhr.readyState === XMLHttpRequest.DONE) {
                let res = JSON.parse(xhr.response);
                if (res.CNT > 0) {
                    idLabel.innerText = "중복된 아이디 입니다.";
                    idLabel.style.color = "red";
                    idIcon.style.color = "red";
                    registerId.focus();
                    return false;
                } else {
                    idLabel.innerText = "사용 가능한 아이디 입니다.";
                    idLabel.style.color = "green";
                    idIcon.style.color = "green";
                    return true;
                }
            }
        }
    };

    const checkPassword = (id, password1, password2) => {

        var password1RegExp = /^[a-zA-z0-9]{4,12}$/; //비밀번호 유효성 검사
        if (!password1RegExp.test(password1)) {
            pwLabel.innerText="비밀번호는 영문 대소문자와 숫자 4~12자리로 입력해야합니다!";
            pwLabel.style.color="red";
            pwIcon.style.color="red";
            registerPw.focus();
            return false;
        }
        else {
            pwLabel.innerText="사용가능한 비밀번호 입니다!";
            pwLabel.style.color="green";
            pwIcon.style.color="green";
        }

        //아이디와 비밀번호가 같을 때..
        if (id == password1) {
            pwLabel.innerText="아이디와 비밀번호는 같을 수 없습니다!";
            pwLabel.style.color="red";
            pwIcon.style.color="red";
            registerPw.focus();
            return false;
        }
        else {
            idLabel.innerText="";
            pwIcon.style.color="green";
        }

        //비밀번호와 비밀번호 확인이 맞지 않다면..
        if(password2 != null) {
            if (password1 != password2) {
                pwLabel2.innerText = "두 비밀번호가 맞지 않습니다.";
                pwLabel2.style.color = "red";
                pwIcon2.style.color = "red";
                registerPw2.focus();
                return false;
            } else {
                pwLabel2.innerText = "";
                pwIcon2.style.color = "green";
            }
        }

        return true; //확인이 완료되었을 때
    };

    registerId.addEventListener("change",()=>{
        checkUserId(registerId.value);
    });
    registerPw.addEventListener("change",()=>{
        checkPassword(registerId.value,registerPw.value);
    });

    registerPw2.addEventListener("change",()=>{
        //비밀번호와 비밀번호 확인이 맞지 않다면..
        if (registerPw.value != registerPw2.value) {
            pwLabel2.innerText="두 비밀번호가 맞지 않습니다.";
            pwLabel2.style.color="red";
            pwIcon2.style.color = "red";
            registerPw2.focus();
        }
        else if(registerPw.value == registerPw2.value) {
            pwLabel2.innerText="";
            pwIcon2.style.color = "green";
        }

    });

    registerEmail.addEventListener("change",()=>{
        checkEmail(registerEmail.value);
    });



</script>
</body>
</html>