<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Bold BS4 Cards with Hover Effect 50</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #efefef;
            display: flex;
        }

        .portlet-main{
            padding: 100px 0;
            margin: 0 auto;
        }

        button {
            width: 70px;
            height: 70px;
            border: none;
            border-radius: 8px;
            margin: 12px;
            cursor: move;
            font-size: 30px;
            background: #ffffff;
        }

        .container {
            margin: 10px;
            padding: 10px;
            background-color: #b5c1dc57;
            border-radius: 8px;
        }

        .draggable.dragging {
            opacity: 0.5;
        }
    </style>

</head>
<body>
    <main class="portlet-main">
        <div class="container">
            <button class="draggable" draggable="true">🦊</button>
            <button class="draggable" draggable="true">🐸</button>
            <button class="draggable" draggable="true">🐶</button>
            <button class="draggable" draggable="true">🐱</button>
            <button class="draggable" draggable="true">🦁‍</button>
            <button class="draggable" draggable="true">🐯‍</button>
            <button class="draggable" draggable="true">🐷‍</button>
            <button class="draggable" draggable="true">🙈</button>
            <button class="draggable" draggable="true">🙉</button>
            <button class="draggable" draggable="true">🙊</button>
            <button class="draggable" draggable="true">🐵</button>
            <button class="draggable" draggable="true">🦝</button>
            <button class="draggable" draggable="true">🐴</button>
            <button class="draggable" draggable="true">🦄</button>
            <button class="draggable" draggable="true">🦬</button>
            <button class="draggable" draggable="true">🐚</button>
            <button class="draggable" draggable="true">🪰</button>
            <button class="draggable" draggable="true">🏵️</button>
            <button class="draggable" draggable="true">🌵</button>
            <button class="draggable" draggable="true">🌰</button>
        </div>
    </main>


    <script>
        const draggables = document.querySelectorAll(".draggable");
        const containers = document.querySelectorAll(".container");

        draggables.forEach(draggable => {
            draggable.addEventListener("dragstart", () => {
                draggable.classList.add("dragging");
            });

            draggable.addEventListener("dragend", () => {
                draggable.classList.remove("dragging");
            });

            draggable.addEventListener("dragenter", e => {
                let container = containers[0]
                if (e.target.className == "draggable") {
                    container.insertBefore(draggable, afterElement);
                    e.target.style.background = "purple";
                }
            });

            draggable.addEventListener("dragleave", e => {
                let container = containers[0]
                if (e.target.className == "draggable") {
                    container.insertBefore(draggable, afterElement);
                    e.target.style.background = "purple";
                }
            });
        });

        containers.forEach(container => {
            container.addEventListener("dragover", e => {
                e.preventDefault();
                const afterElement = getDragAfterElement(container, e.clientX);
                const draggable = document.querySelector(".dragging");
                if (afterElement === undefined) {
                    container.appendChild(draggable);
                } else {
                    container.insertBefore(draggable, afterElement);
                }
            });
        });

        function getDragAfterElement(container, x) {
            const elements = [
                ...container.querySelectorAll(".draggable:not(.dragging)"),
            ];

            return elements.reduce(
                (closest, child) => {
                    const potlet = child.getBoundingClientRect();
                    const offsetX = x - potlet.left - potlet.width / 2;
                    if (offsetX < 0 && offsetX > closest.offset) {
                        return { offset: offsetX, element: child };
                    } else {
                        return closest;
                    }
                },
                { offset: Number.NEGATIVE_INFINITY },
            ).element;
        }

    </script>
</body>
</html>